[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
	branch = 7482de6071d21db77a7236155da44c172a7f6c9e
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
	branch = bf71a834948186f4097caa076cd2663c69a10e1e
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/imguiLib/imgui"]
	path = external/imguiLib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/hopscotch_map"]
	path = external/hopscotch_map
	url = https://github.com/Tessil/hopscotch-map.git
